html {
    font-family: "Roboto", sans-serif;
}

html, body {
    min-height: 100%;
}

body {
    background: linear-gradient(45deg, #CCFFFF, #FFCCCC, #FFCCFF);
    display: table;
    margin: auto;
    text-align: center;
}
h1 {
    color: rgb(80, 80, 80);
}
#grid-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 500px;
    margin: 5   px;
}
.gridItem {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
}

button {
    background-color: #F0EEEE;
    padding: 5px;
    margin: 5px;
    border: 2px solid #d3dae8;
    border-radius: 6px;
}

button:hover {
    font-size: 110%;
    background-color: #dfd9d9;
    border: 2px solid #b3b8c3;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
}

button:active {
    background-color: #cac6c6;
    border: 2px solid #a6abb6;
}

.color-button {
    padding: 3px;
}